
*{
    margin: 0;
    padding: 0;
    
}

header {
    margin: 70px;
    padding: 50px;
    background-color: #c0c0c0;
}

/*-------NavigationBar------*/

#nav-bar {
    position: -webkit-sticky;
    bottom: 0;
    z-index: 10;
}

.navbar-brand img {
    position: float;
    height: 120px;
    padding-left: 30px;
}

.navbar-nav li {
padding: 0 10px
}

.navbar-nav li a {
    float: left;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #0404d3!important;
}
.navbar {
    background-color: #ff0000;
}
.navbar-toggler {
    border: none!important;
}
.nav-link {
    color: #555000!important;
    font-weight: 600;
    font-size: 16px;
}